<!DOCTYPE html>
<html>
	<head>
		<!-- meta -->
  		<meta charset="utf-8">
  		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<title> Kassandra's Blog </title>
		<meta content="" name="keywords">
  		<meta content="" name="description">

  		<!-- Google Fonts -->
  		<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">

  		<!-- Bootstrap CSS File -->
  		<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


		<!-- Libraries CSS Files -->
  		<link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  		<link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  		<link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  		<link href="lib/hover/hover.min.css" rel="stylesheet">

		<style>

			*{
				margin: 0;
				padding: 0;
				font-family: "montserrat", sans-serif;
			}	
			
			body
			{
				width: 100%
		        height: 100vh; 
		        justify-content: center;
		        align-items: center;

				background: #D3CCE3;  /* fallback for old browsers */
				background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
				/*background: #d9a7c7;  
				background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  
				background: linear-gradient(to right, #fffcdc, #d9a7c7); */


				/*ESTO ES LO NUEVO*/
				color: #898989;
				font-family: 'Poppins', helvetica;
				font-size: 15px;
				font-weight: 300;
				line-height: 20px;
				letter-spacing: 0.02em;
				overflow-x: hidden;
				margin: 0 auto;
				padding: 0;
				-moz-box-sizing: border-box;
				-ms-box-sizing: border-box;
				-o-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
			}

			.card1
			{	
				width: 100%;
		        margin: 20px;
		        border-radius: 6px;
		        margin-left: 15%;
		        overflow: auto;
		        max-width: 1100px;s
		        text-align: center;
		        background: #37474F;
		        box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
		        cursor: default;
			}

			.card-content
			{
				color: white;
				margin-left: 10px;
				margin-right: 10px;
			}


			.tiempo
			{
				margin-left: 75%;
				color: black
			}

			.container
	        {
	          width: 100%;
	          display: flex;
	          max-width: 1100px;
	        }

	        .card
	        {
	          width: 100%;
	          margin: 20px;
	          border-radius: 6px;
	          overflow: hidden;
	          background: transparent;
	          box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	          cursor: default;
	          transition: all 400ms ease;
	        }

	        .card:hover
	        {
	          box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	          transform: translateY(-3%);
	        }

	        .card .contenido
	        {
	          padding: 15px;
	          text-align: justify;
	        }

	        .card .contenido h3
	        {
	          font-weight: 400;
	          margin-bottom: 15px;
	        }

	        .card .contenido a
	        {
	          text-decoration: none;
	          display: inline-block;
	          padding: 10px;
	          margin-top: 10px;
	          color: #2fb4cc;
	          border: 1px solid #2fb4cc
	          border-radius 4px;
	          transition: all 400ms ease;
	        }

	        .card .contenido a:hover
	        {
	          background: gray;
	          color: #fff;
	        }


			div.b {
			  white-space: nowrap;
			  margin-top: 15px; 
			  width: 1000px;
			  height: 45px;
			  overflow: hidden;
			  text-overflow: ellipsis; 
			}

		</style>

	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a href="/" class="navbar-brand"> Home </a>
				<a href="/posts/1" class="navbar-brand"> Escritos</a>
				<a href="/recom" class="navbar-brand"> Recomendaciones </a>
				<a href="/contactme" class="navbar-brand"> Contact me</a>
			</div>
		</nav>